.nav-container {
  display: flex;
  background-color: rgb(57, 57, 57);
  color: white;
  height: 5rem;
  width: 100vw;
  justify-content: space-between;
  padding-right: 2rem;
  align-items: center;
  position: fixed;
  z-index: 1;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
li {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  color: white;
}
.icon {
  display: none;
}
.sidebar {
  background-color: rgb(57, 57, 57, 0.8);
  flex-direction: column;
  justify-content: flex-start;
  left: 70%;
  top: 4rem;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  color: white;
  display: none;
}
.Open {
  animation:slideIn 0.4s ease-in;
  display: flex;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar li {
  width: 100%;
}
li:hover {
  background-color: rgb(39, 39, 39);
}
.logo-title {
  width: 30%;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.logo {
  width: 60px;
  height: auto;
}
.span{
  width: 100%;
}
.icon {
  background-color: rgb(57, 57, 57);
  border: none;
  justify-self: center;
  align-self: center;
}

@media (max-width: 768px) {
  .nav-container {
    height: 4rem;
    padding: 1rem;
    position: fixed;
  }
  .top li:not(.icon) {
    display: none;
  }
  .icon {
    display: flex;
    position: absolute;
    left: 90%;
    top: 1rem;
  }
  .logo-title {
    font-size: 1rem;
    position: absolute;
    left: 35%;
  }
  .logo {
    width: 50px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .logo-title {
    font-size: 0.8rem;
    width: 50%;
    left: 35%;
  }
  .sidebar {
    left: 60%;

    font-size: smaller;
  }
  .logo {
    width: 40px;
  }
}
