.nav-container{
    display:flex;
    background-color: rgb(57, 57, 57);
    color:white;
    height:5rem;
    width:100vw;
    justify-content: space-between;
    padding:0 2rem;
   align-items: center;
   position: fixed;
   z-index: 1;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
li{
    padding: 1rem;
}
.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo{
width:60px;
height:auto;
margin-right:1rem;
}