@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@200;300&family=Montserrat:ital,wght@1,100&display=swap");

img {
  width: 100%;
  height: auto;
}
.image {
  width: 40%;
  margin-left: 3rem;
}
#form {
  width: 70%;
}

.container {
  padding-top: 5.5rem;
  color: rgb(57, 57, 57);
  padding-bottom: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  overflow: scroll;
}
.box-container {
  display: flex;
  flex-direction: column;
}
h1,
p {
  margin-left: 1rem;
}
.box {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  margin: 2% 0;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.firstName {
  margin-top: 1rem;
}
hr {
  margin: 0 5rem;
  border: 1px solid rgb(170, 162, 162);
}
label {
  align-self: flex-start;
  margin-left: 15%;
  font-weight: 700;
  margin-top: 2.5rem;
}
.line-input {
  align-self: self-start;
  margin-left: 15%;
  margin-top: 0.5rem;
  width: 30rem;
  font-size: 1rem;
  padding: 0.8rem 0.7rem;
  border: none;
  outline: none;
  border-bottom: 0.8px solid rgb(156, 156, 156);
  transition: border-bottom 0.2s ease;
}
.line-input:focus {
  border-bottom: 2px solid rgb(73, 125, 69);
}
.radio-button {
  margin-right: 1rem;
  outline: none;
}
.button-box {
  margin-top: 0.8rem;
  margin-left: 12%;
  align-items: start;
}
.button_container {
  width: 40%;
  height: 2.5rem;
  margin-top: 1rem;
  color: white;
  text-align: center;
  background: linear-gradient(rgb(70, 120, 75), rgb(36, 76, 49));
  border-radius: 0.9rem;
  border: none;
  font-size: 0.9rem;
  box-shadow: 1px 1px 4px 0.5px rgb(44, 44, 44);
}
.button_container:hover {
  background: linear-gradient(rgb(91, 145, 100), rgb(34, 72, 44));
}

.user {
  align-items: start;
  margin-left: 12%;
  font-size: 1.05rem;
  margin-top: 0.4rem;
  padding-bottom: 0.3rem;
}
