.buyer-page {
  padding: 1rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.buyer-page h2 {
  text-align: center;
}

.buyer-page hr {
  margin: 1.5rem 0;
}

.properties-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.property-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 27%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.property-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.property-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  background-color: #f8f9fa;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  overflow: scroll;
}

.property-card-header h3 {
  align-items: flex-start;
  margin-right: 1%;
  font-size: 1.2em;
  color: #333;
}

.property-rent {
  align-items: flex-end;
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(73, 125, 69);
  margin-left: 1%;
}
.property-images {
  height: 50%;
  overflow: scroll;
}
.property-images img {
  width: 100%;
  height: auto;
}

.property-details {
  height: 30%;
  padding: 0 15px;
  overflow: scroll;
}

.property-details p {
  margin: 10px 0;
  color: #555;
}

.property-details strong {
  color: #333;
}

.property-card img {
  border-bottom: 1px solid #ddd;
}

.buyer-page button {
  color: white;
  transition: box-shadow ease 0.2s;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.dropdown {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: 1.4rem;
  width: 15%;
  margin-bottom: 1rem;
  position: relative;
}
.locSection {
  margin:0;
  display: flex;
  justify-content: center;
}
.locInput {
  margin: 0;
  width: 100%;
  height: 10%;
  outline: none;
  border: none;
  box-shadow: 1px 1px;
}
.locSection button {
  height: 10%;
  padding: 0;
}
.filter-button {
  border-radius: 1rem;
  width: 70%;
  position: relative;
  align-self: flex-end;
  font-size: 0.9rem;
  background: linear-gradient(rgb(114, 114, 114), rgb(45, 45, 45));
}

.filter-button:hover {
  transform: translateY(1px);
  box-shadow: 1px 1px 4px 0px #555;
}

.dropdown-menu {
  z-index: 0;
  position: absolute;
  width: 70%;
  top: 115%;
  left: 30%;
  box-shadow: 1px 1px 4px 0px #555;
}
.dropdown-menu div {
  margin: 0;
  background-color: #cdcdcd;
  color: #212121;
  font-size: 1.1rem;
  padding: 0.2rem;
}
.dropdown-menu div:hover {
  background-color: #959595;
  color: white;
  cursor: pointer;
}
.rent-button {
  border-radius: 0.9rem;
  width: 30%;
  margin-bottom: 1rem;
  background: linear-gradient(rgb(70, 120, 75), rgb(36, 76, 49));
  align-self: center;
}

.rent-button:hover {
  box-shadow: 1px 1px 4px 0px rgb(124, 124, 124);
  background: linear-gradient(rgb(126, 124, 121), rgb(84, 84, 84));
}
@media (max-width: 1125px) {
  .property-card {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .buyer-page {
    font-size: smaller;
  }
  .filter-button {
    width: 100%;
    border-radius: 1rem;
    font-size: 0.8rem;
  }

  .buyer-page hr {
    margin: 0.3rem;
  }
  .property-card-header h3 {
    font-size: 1rem;
  }
  .property-rent {
    font-size: 1.1rem;
  }
  .dropdown-menu {
    width: 100%;
    left: 0;
  }
  .dropdown-menu div {
    font-size: 0.8rem;
  }
}
@media (max-width: 540px) {
  .buyer-page {
    font-size: smaller;
  }
  .buyer-page h2 {
    font-size: 1.5rem;
  }
  .properties-list {
    gap: 5px;
  }
  .property-card {
    width: 70%;
  }
  .property-card-header h3 {
    font-size: 1rem;
  }
  .buyer-page hr {
    margin: 0.3rem;
  }
  .property-rent {
    font-size: 1rem;
  }
  .property-details {
    font-size: 0.9rem;
  }
  .dropdown {
    width: 30%;
  }
  .filter-button {
    border-radius: 1rem;
    font-size: 0.7rem;
  }
  .rent-button {
    font-size: 0.7rem;
  }
}
